.header{
    background-image: url("../../images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color:#d9e1de ;
    border: 8px solid #d9e1de;
    height: 40vh;
    width: 80vw;
    margin: 10vh auto 0 auto;
    align-content: center;
    border-radius: 25px;
}
.nav-bar{
    color: #d9e1de;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50px;
}
.nav-bar a{
    margin-top: 20px;
    padding:10px;
}
a{
   margin: auto 20px;
   text-align: center;
   color: #d9e1de;
   text-decoration: none;
   background-color: #d9e1de; 
   /* padding: 10px; */
   border-radius: 25px;  
}
a:visited{
    color: #ecb866;
}
a:hover{
    color: #66a6cd;
}
h1{
    font-size: 80px;
    text-align: center;
    margin: 120px auto 0 auto;
    width:79vw;
    /* background-color: #d9e1de; */
    /* opacity: .9; */
    /* border: 2px solid powderblue; */
}
h6{
    font-size: 25px;
    background-color: #d9e1de;
    border-radius: 25px;
    opacity: .9;
    width: 30vw;
    text-align: center;
    margin: 0 auto;
    /* border: 2px solid orange; */
}